/* Layout Styling */

/*
Colors used:
Primary Colour (Mauve); #baa3bb;
Secondary Color (Plum); #3e3542;
Tertiary Color (grey); #d7d7d7;
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	padding: 0 15px;
	text-align: center;
}

.container img {
	width: 100%;
	height: auto;
}

header {
	background-color: #d7d7d7;
	padding: 10px 0 4px;
	margin: 10px;
	box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
	position: fixed;
	top: 0;
	max-width: 100%;
	max-height: 300px;

}
body {
	background-color: white;
	font-family: 'raleway', sans-serif;
	font-size: 16px; /* Sets the font size to 16px */
	font-weight: 400; /* Sets the font weight to 300 */
	line-height: 1.6; /* Sets the line-height to 1.6 */
	color: #000000;
	padding-top: 190px;
}

main {
	padding-top: 133px;

}

h1, h2, h3, h4 {
	line-height: 1.4;
	text-align: center;
}
#hero h1 {
	text-align: center; /*Centers text */
	font-size: 2.75em;
	font-weight: 700;
}
h2 {
	font-size: 2.25em;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 30px;
}
h3 {
	font-size: 1.75em;
	font-weight: 400;
	padding-top: 30px;
	padding-bottom: 30px;
}
h4 {
	font-size: 1.35em;
	font-weight: 400;
}

.berlin-illustration {
	width: 100%;
	max-width: 100%;
	height: auto;
}

@keyframes color-change {
	from {fill: #edc655;}
	to {fill: #f76414;}
}

.sun {
	animation-duration: 4s;
	animation-name: color-change;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes cloud-move {
	from {transform: translate(0,50px);}
	to {transform: translate(200px,50px);}
}

.cloud-front {
	animation-duration: 30s;
	animation-name: cloud-move;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
	from {transform: translate(446px, 48px);}
	to {transform: translate(100px, 48px);}
}

.cloud-back{
	animation: 34s cloud-move-reverse infinite alternate linear;
}

img {
	width: 100%
}

p {
	text-align: center;
}

.research {
	max-width: 50%;
}

.aboutimg {
	max-width: 30%;
	padding-top: 175px;
}
.aboutimg2 {
	max-width: 30%;
	padding-top: 30px;
}

.skills {
	text-align: center;
	padding-top: 50px;
}

.contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

.headshot {
	max-width: 50%;
}

.linkedinimg {
	max-width: 5%;
} 
.resume {
	align-content: center;
}
a {
	color: #3e3542;
	text-decoration: none; /* No underlining */
}
a:visited { /* visted link */
	color: #3e3542;
}
a:hover,
a:focus {
	color: #baa3bb;
	text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
	color: #baa3bb;
}

nav > ul > li {
	list-style-type: none;
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 700;
}

nav > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navtoggle li:not(:last-child) {
	display: none;
}

.navtoggle.responsive li:last-child {
	padding: 0 0 10px;
}

.navtoggle, .navtoggle.responsive {
	position: relative;
	padding-right: 30px;
}

.navtoggle li .icon {
	position: absolute;
	right: 20px;
	top: 2px;
	font-size: 20px;
	padding-right: 0;
}

.navtoggle.responsive li {
	display: block;
	padding: 10px 0;
	border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav {
	padding: 24px 0 0;
}

#hero {
	background-color: #d7d7d7;
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#work .row {
	margin: 25px 0; /* 25px top and bottom, 0 left and right */
	padding-bottom: 25px;
	border-bottom: 1px solid #4a4a4a;
}

.logo {
	max-width: 100%;
}
.button {
	display: inline-block;
	background-color: #baa3bb;
	color: #3e3542 !important;
	font-weight: 400;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #3e3542; /* width of the border, type, color */
	transition-duration: 0.2s;
	transition-property: opacity;
}
.button:hover {
	opacity: 0.8; /* recudes the opacity of the button to 80% */
	text-decoration: none;
}
.button.contact {
	background-color: transparent;
	color: #3e3542 !important;
	text-transform: uppercase;
	border: 2px solid #3e3542;
}
.button.contact:hover {
	background-color: #3e3542;
	color: #ffffff !important;
}
.about {
	width: 30%;
}

[class*="col-"] {
	float: left;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.row {
	padding-top: 50px;
	padding-bottom: 50px;
}

.test {
	width: 100%;
	max-width: 100%;
	height: auto;
}


/*----Medium devices (640px and larger)----*/
@media only screen and (min-width: 640px) {
	header {
		text-align: unset;
		padding: 20px 0 13px;
		max-width: 100%;
	}

	nav {
		width: auto;
		margin-top: 4px;
	}

	nav > ul {
		margin: 1em 0;
	}

	nav > ul > li {
		display: inline-block;
	}

	.navtoggle li:not(:last-child) {
		display: inline-block;
	}

	.navtoggle li:last-child {
		display: none;
	}

	.col-md-6 {
		width: 50%;
	}
}

/*----Large devices (1024px or larger)-----*/
@media only screen and (min-width: 1024px) {
	body {
		font-size: 18px;
	}

	.col-md-7 {
		max-width: 60%;
	}

	#hero span {
		display: block;
	}

	.container {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.col-lg-5 {
		max-width: 40%;
	}
}

/*-----X-Large devices (1440px or larger)----*/
@media only screen and (min-width: 1440px) {
	
}